

.fontWeight {
   font-weight: bold;
   cursor: pointer;
}
.font{
   cursor: pointer;
}

.paginator {
   margin: 10px;
}

.pageNumber {
   padding: 2px;
   border: 1px solid grey;
   font-weight: bold;
}
.pageNumber.selectedPage {
   font-weight: bold;
   border-color: black;
}