.header{
    grid-area: h;
    background-color: rgb(102, 134, 255);
}

.header img {
    width: 50px;
    padding: 10px;
}

.headerLogin {
    float: right;
}
.headerLogin a {
    color: antiquewhite;
}