
.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;

}

.dialogsItem a {
   text-decoration: none;
   color: blue;
}



.dialog .active {
   color: black;
}


.message {
   color: blue;

}